.scrollToTopButton {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #b89146;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  z-index: 99;
}
